@model IEnumerable<MGCreations.Models.product>
@using MGCreations.Controllers
@{
    ViewBag.Title = "Product_Details_List";
    ProductController pc = new ProductController();
}


<h2>Product_Details_List</h2>
@if ((Session["User_ID"] != null) && (Session["User_Type"].ToString() == "Admin"))
{
    <p>
        @Html.ActionLink("Add Product", "Add_Product")
    </p>
}
<table class="table">
    @foreach (var item in Model)
    {

        <tr> 
            <td>
                @foreach (var items in pc.Get_Product_Images(item.Product_ID))
                {
                    <img src="@Url.Content(@items.Product_Image_URL)" width="100" height="100" />
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Product_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isPersonalisable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product_category.Category_Name)
            </td>
            <td>
                @Html.ActionLink("View Product", "View_Product_Details", new { p_id = item.Product_ID })|
            </td>

            @if ((Session["User_ID"] != null) && (Session["User_Type"].ToString() == "Admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Update_Product_Details", new { p_id = item.Product_ID })|
                    @Html.ActionLink("Delete", "Delete_Product", new { p_id = item.Product_ID })
                </td>
            }


        </tr>
    }

</table>
<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                        <div class="col-md-2">

                            @foreach (var items in pc.Get_Product_Images(item.Product_ID))
                            {
                                <img src="@Url.Content(@items.Product_Image_URL)" width="100" height="100" />
                            }
                        <div>
                            @Html.DisplayFor(modelItem => item.Product_Name)
                        </div>
                        <div>
                           £ @Html.DisplayFor(modelItem => item.Product_Price)
                        </div>    

                        </div>
                        }
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
