@model IEnumerable<MGCreations.Models.product>
@using MGCreations.Controllers
@{
    ViewBag.Title = "Product_Details_List";
    ProductController pc = new ProductController();
}


<h2>Products</h2>
@if ((Session["User_ID"] != null) && (Session["User_Type"].ToString() == "Admin"))
{
    <p>
        @Html.ActionLink("Add Product", "Add_Product")
    </p>
}
<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                        <div class="col-md-2">
                            <button class="btn btn-default" onclick="location.href='@Url.Action("View_Product_Details", "Product", new { p_id = item.Product_ID })'">


                                <div class="img-wrap">
                                    @if (pc.Get_Product_Images(item.Product_ID) != null)
                                    {
                                        <img class="img-fluid mehsulimg" src="@Url.Content(pc.Get_Product_Images(item.Product_ID).First().Product_Image_URL)" width="100" height="100" />
                                    }
                                </div>
                                <div>
                                    @Html.DisplayFor(modelItem => item.Product_Name)
                                </div>
                                <div>
                                    £ @Html.DisplayFor(modelItem => item.Product_Price)
                                </div>
                                @if ((Session["User_Type"] != null) && (Session["User_Type"].ToString() == "Admin"))
                                {

                                    
                                    if (item.is_Active == 1)
                                    {
                                        <div>Is Active: Yes</div>
                                    }
                                    else
                                    {
                                        <div>Is Active: No</div>
                                    }

                                }
                            </button>
                        </div>
                        }
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
