@model MGCreations.Models.product

@using MGCreations.Controllers
@{
    ViewBag.Title = "View_Product_Details";
    ProductController productController = new ProductController();
}



<div>
    <h4>product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @foreach (var items in productController.Get_Product_Images(Model.Product_ID))
            {
                <img src="@Url.Content(@items.Product_Image_URL)" width="100" height="100" />
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Description)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Product_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isPersonalisable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isPersonalisable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_category.Category_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_category.Category_Name)
        </dd>

    </dl>

    @using (Html.BeginForm("AddtoCart", "Product", new { p_id = Model.Product_ID, }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        if (Model.Product_Quantity < 1)
        {
            <p style="color:Red"> Out of Stock </p>
        }
        else
        {
            @Html.DisplayNameFor(model => model.Product_Quantity)
            <input type="number" class="form-control" value="1" id="qty" name="Quantity" min="1" max="@Model.Product_Quantity" />
            <p style="color:Green"> Available </p>
            <input type="submit" value="ADD TO CART" class="btn btn-success" />
        }

    }

    @if ((Session["User_ID"] != null) && (Session["User_Type"].ToString() == "Admin"))
    {
       
        @Html.ActionLink("Edit", "Update_Product_Details", new { p_id = Model.Product_ID })
        <br />
        @Html.ActionLink("Delete", "Delete_Product", new { p_id = Model.Product_ID })
        <br />
        @Html.ActionLink("Manage Product Images", "Product_Images_List", "ProductImages", new { p_id = Model.Product_ID }, null)
    }
</div>