@model IEnumerable<MGCreations.Models.JoinModel>
@{
    ViewBag.Title = "View_Order_List";
}

<div class="container-fluid py-4">
    <h4 class="text-center text-uppercase">Order List</h4>
    <table class="table table-striped table-bordered">
        <thead class="bg-dark text-white">
            <tr>
                <th>Order Reference No.</th>
                <th>Order Date</th>
                <th>User Name</th>
                <th>Product Name</th>
                <th>Product Quantity</th>
                <th>Product Price</th>
                <th>Order Total</th>
                <th>Order Status</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Order.Order_Reference_No</td>
                <td>@item.Order.Order_Date</td>
                <td>@item.User.User_Username</td>
                <td>@item.Product.Product_Name</td>
                <td>@item.Cart.Product_Quantity</td>
                <td>@item.Product.Product_Price</td>
                <td>@item.Order.Order_TotalAmount</td>
                @using(Html.BeginForm("Update_Order_Status", "Order",new { o_id = item.Order.Order_ID} , FormMethod.Post))
                {
                    @Html.AntiForgeryToken();
                    <td>
                    @Html.DropDownList("Order_Status", new List<SelectListItem>{
                                                                             new SelectListItem {Value = "Paid", Text = "Not Paid", Selected = item.Order.Order_Status == "Not Paid"},
                                                                             new SelectListItem {Value = "Paid", Text = "Paid", Selected = item.Order.Order_Status == "Paid"},
                                                                             new SelectListItem {Value = "Confirm Order", Text = "Confirm Order", Selected = item.Order.Order_Status == "Confirm Order" },
                                                                             new SelectListItem {Value = "In Progress", Text = "In Progress", Selected = item.Order.Order_Status == "In Progress" },
                                                                             new SelectListItem {Value = "Delivery on Progress", Text = "Delivery on Progress", Selected = item.Order.Order_Status == "Delivery on Progress" },
                                                                             new SelectListItem {Value = "Completed", Text = "Completed", Selected = item.Order.Order_Status == "Completed" }
                                                                      },
                                                                        new { @class = "form-control", @id = "Order_Status", name= "Order_Status" }
                                                                     )
                    </td>
                    <td>
                        <input type="submit" class="btn btn-success" value="Update" />    
                    </td>
                    <td><a class ="btn btn-primary" href="@Url.Action("View_Order_Details","Order",new { o_id = item.Order.Order_ID })"><i class="fa fa-list"></i></a></td>
                    <td><a class="btn btn-danger" href="@Url.Action("Delete_Order","Order",new { o_id = item.Order.Order_ID })"><i class="fa fa-trash"></i></a></td>
                 }
                    
            </tr>
             
            }
        </tbody>
    </table>
</div>