@model MGCreations.Models.user

@{
    ViewBag.Title = "User_Details";
}

<h2>Details</h2>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User_Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_ContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_ContactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_DOB)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Update_User", new { u_id = Model.User_ID }) |
    @Html.ActionLink("Delete", "Delete_User", new { u_id = Model.User_ID }) |
    @Html.ActionLink("Back to Home", "Index", "Home")
</p>
