@model IEnumerable<MGCreations.Models.admin>

@{
    ViewBag.Title = "Admin_List";
}

<h2>Admin List</h2>

<p>
    @Html.ActionLink("Create New", "Admin_Register")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Admin_Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin_Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin_Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin_ContactNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Admin_Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin_Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin_Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin_ContactNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Update_Admin_Details", new { a_id=item.Admin_Id }) |
            @Html.ActionLink("Details", "Admin_Details", new { a_id=item.Admin_Id }) |
            @Html.ActionLink("Delete", "Delete_Admin", new { a_id = item.Admin_Id })
        </td>
    </tr>
}

</table>
