<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MGCreations</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:blue; border-color: blue">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="background-color:blue; border-color: blue">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MGCreations", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" style="background-color:blue; border-color: blue">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    @if ((Session["Customer_ID"] == null) && (Session["Admin_ID"] == null))
                    {

                        {
                             <li>@Html.ActionLink("Login", "Customer_Login", "Customer")</li>
                        }
                     }

                    @if (User.Identity.IsAuthenticated)
                    { 
                        <li>@Html.ActionLink("Hello " + User.Identity.Name, "","")</li>
                    }

                    @if ((Session["Customer_ID"] != null) && (Session["Admin_ID"] == null))
                    {
                    <li>@Html.ActionLink("Logout", "Customer_Logout", "Customer")</li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @if ((Session["Admin_ID"] == null) && (Session["Customer_ID"] == null))
            {
                <a>@Html.ActionLink("Admin Login", "Admin_Login", "Admin")</a>
            }

            @if ((Session["Admin_ID"] != null) && (Session["Customer_ID"] == null))
            {
                <a>@Html.ActionLink("Admin Logout", "Admin_Logout", "Admin")</a>
            }
            <p>&copy; @DateTime.Now.Year -MGCreations</p>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
