<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MGCreations</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar  navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="~/Content/Logo/Logo.jpeg" alt="Site Logo" style="height:50px; width: 50px" />
                </a>
                @Html.ActionLink("MGCreations", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Category", "Product_Category_List", "ProductCategory")</li>
                    <li>@Html.ActionLink("Products", "Product_List", "Product")</li>
                    @if ((Session["User_ID"] != null) && (Session["User_Type"].ToString() == "Admin"))
                    {
                        <li>@Html.ActionLink("Dashboard", "Admin_Dashboard", "User")</li>
                    }
                </ul>
               
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["User_ID"] == null)
                    {

                        {

                            <li>@Html.ActionLink("Login", "User_Login", "User")</li>
                            <li>@Html.ActionLink("Register", "Register_User", "User")</li>
                        }
                    }

                    @if ((Session["User_Name"] != null))
                    {

                        <li>@Html.ActionLink("Hello " + Session["User_Name"].ToString(), "User_Details", "User", new { u_id = Session["User_ID"].ToString() }, null)</li>
                    }

                    @if (Session["User_ID"] != null)
                    {
                        <li>@Html.ActionLink("Logout", "User_Logout", "User")</li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <p>&copy; @DateTime.Now.Year -MGCreations</p>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
